<script type="text/template" id='quiz-template'>
  <div id="title" class="row">
		<%%= title %>  
	</div>   
</script>

<script type="text/template" id="quiz-choice-template">
			<li class="choices"> <%%=answer%> </li>
</script>

<header class="row">
	<!-- buttons to change question filter--> 
	<ul id="buttons" class="twelve columns">
		<li id="front-end"><a href="#"><%= image_tag 'frontend-icon.svg' %></a></li>
		<li id="back-end"><%= image_tag 'backend-icon.svg' %></li>
		<li id="full-stack"><%= image_tag 'fullstack-icon.svg' %></li>
		<li id="wrong"><a href="#">0</a></li>
		<li id="right"><a href="#">0</a></li>
	</ul>
</header>

<section id='quiz-list'>
	<div class="row choices-list">
		<ul id="choicess">
			
		</ul>
		
	</div>
</section>

<footer class="row">
	<div id="skip" class="u-pull-right">skip</div>
</footer>