<script type="text/template" id='quiz-template'>
  <li>
  	<%%= title %>
  	<%%= answer %>
  	<%%= rating %>
  	<%%= category %>
  	<%%= id %>
  </li> 
</script>

<h1>Quiz API</h1>
<hr>

<ul id='quiz-list'>
  <li>question</li>

</ul>