<script type="text/template" id='quiz-template'>
  <div id="title" class="row">
		<%%= title %>  
	</div> 
	 	<ul>
	 		<li> 
	 			<%%= answer %>
	 		</li> 
	 	</ul>
	<div id="about">
	  	<%%= rating %>
	  	<%%= category %>
	</div>
  
</script>

<h1>Quiz API</h1>
<hr>

<section id='quiz-list'>

</section>