/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require normalize
 *= require skeleton
 *= require_self
 */

body {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

#container {
	width: 80%;
	margin: 25px auto 0 auto;
}

@media (min-height: 640px) {
	#container {
		margin-top: 50px;
	}
}

@media (min-width: 750px) {
	#container {
		width: 78%;
	}
}

@media (min-width: 1000px) {
	#container {
		width: 80%;
	}
}