// Place all the styles related to the quiz_questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-body: #F7F7F7;
$color-green: #59C98F;
$color-red: #DC6373; 
$color-blue: #708EC5; 
$color-default-text: #2D3031;
$padding: 3%; 
$m-b: 10px; 

@mixin anchor($color) {
	color: $color; 
	text-decoration: none;
	width: 30px;
	height: 30px; 
	display: inline-block;
	text-align: right;
	content: '.';
	margin-top: 3px;
	font-size: 2rem;
	float: right;
}


body {
	background-color: $color-body; 
}

li {
	list-style: none;
	text-align: center;
}

li img {
	width: 30px;
	height: 30px;
	margin-right: 3px;
	padding-top: 3px;
}

ul {
	padding: 0;
}

ul#buttons li {
	color: $color-body; 
	display: inline;
}

li#right a {
	@include anchor($color-green);
}

li#wrong a {
	@include anchor($color-red);
}

li#front-end,
li#back-end,
li#full-stack {
	float: left; 
}

#title {
	font-size: 1.6rem;
	text-align: center;
	line-height: 1.5;
	padding: $padding; 
	margin-bottom: $m-b;
	color: $color-blue;
	min-height: 145px;
	max-height: 160px;
	overflow: scroll;
}

#choices {
	max-height: 250px;
	overflow: scroll;
	margin-bottom: $m-b;
	color: $color-default-text;
}

li.choices {
	font-size: 1.6rem;
	background-color: $color-green;
	min-height: 30px;
	overflow: hidden; 
	line-height: 1.4;
	margin-bottom: $m-b; 
	border-radius: 5px;
	padding: $padding; 
}

footer {
		margin-top: 0;
		height: 50px;
}
	#skip {
		text-align: center;
		width: 60px;
		padding: 2%;
		background-color: $color-red;
	}