// Place all the styles related to the quiz_questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-body: #F7F7F7;
$color-green: #59C98F;
$color-red: #DC6373; 
$color-blue: #708EC5; 
$color-default-text: #2D3031;
$padding-phone: 2.5%; 
$padding-tablet: 1%; 
$m-b: 10px; 
$icon-size-phone: 30px; 
$icon-size-phablet: 38px;
$icon-size-tablet: 40px; 
$icon-size-laptop: 50px; 
$icon-font-phone: 2rem; 
$icon-font-phablet: 2.2rem; 
$icon-font-tablet: 2.5rem; 
$icon-font-laptop: 2.6rem;
$font-default-phone: 1.2rem;
$font-default-tablet: 1.8rem; 

@mixin anchor($color, $icons, $font) {
	color: $color; 
	text-decoration: none;
	width: $icons;
	height: $icons; 
	display: inline-block;
	text-align: right;
	content: '.';
	margin-top: 3px;
	font-size: $font;
	float: right;
}

%text-trunc {
	overflow: auto;
}

body {
	background-color: $color-body; 
	margin: 0 auto;
}

li {
	list-style: none;
	text-align: center;
}

li img {
	width: 30px;
	height: 30px;
	margin-right: 3px;
	padding-top: 3px;
}

ul {
	padding: 0;
}

ul#buttons li {
	color: $color-body; 
	display: inline;
}

li#right a {
	@include anchor($color-green, $icon-size-phone, $icon-font-phone);
}

li#wrong a {
	@include anchor($color-red, $icon-size-phone, $icon-font-phone);
}

li#front-end,
li#back-end,
li#full-stack {
	float: left; 
}

#title {
	font-size: 1.8rem;
	text-align: center;
	line-height: 1.5;
	padding: 1%; 
	margin-bottom: $m-b;
	color: $color-blue;
	min-height: 140px;
	max-height: 160px;
}

#choices {
	@extend %text-trunc; 
	max-height: 350px;
	color: $color-default-text;
}

li.choices {
	@extend %text-trunc; 
	font-size: $font-default-phone; 
	background-color: $color-green;
	min-height: 30px;
	max-height: 60px;
	line-height: 1.4;
	margin-bottom: $m-b; 
	border-radius: 5px;
	padding: $padding-phone; 
}

footer {
		margin-top: 0;
		height: 50px;
}

#skip {
	text-align: center;
	background-color: $color-red;
}

@media (min-height: 660px) {
	li.choices {
		padding: 3%;
	}

	li img {
		width: $icon-size-phablet;
		height: $icon-size-phablet;
		margin-right: 3px;
		padding-top: 3px;
	}
	
	li#right a {
		@include anchor($color-green, $icon-size-tablet, $icon-font-phablet);
	}

	li#wrong a {
		@include anchor($color-red, $icon-size-tablet, $icon-font-phablet);
	}
}

@media (min-width: 750px) {

	li img {
		width: $icon-size-tablet;
		height: $icon-size-tablet;
		margin-right: 3px;
		padding-top: 3px;
	}
	
	li#right a {
		@include anchor($color-green, $icon-size-tablet, $icon-font-tablet);
	}

	li#wrong a {
		@include anchor($color-red, $icon-size-tablet, $icon-font-tablet);
	}

	#title {
		font-size: 2.2rem;
		padding: $padding-tablet; 
		min-height: 110px;
	}

	ul#choices {
		margin-bottom: 0 !important;
		background-color: pink;
	}

	li.choices {
		font-size: $font-default-tablet; 
		padding: 2%; 
		min-height: 40px;
	}

}

@media (min-width: 1000px) {
	li img {
		width: $icon-size-laptop;
		height: $icon-size-laptop;
		margin-right: 3px;
		padding-top: 3px;
	}
	
	li#right a {
		@include anchor($color-green, $icon-size-tablet, $icon-font-laptop);
	}

	li#wrong a {
		@include anchor($color-red, $icon-size-tablet, $icon-font-laptop);
	}
}


